@using Classlibrary
@model AVL<Practica01.Models.Person>

@{
    ViewData["Title"] = "Search";
}

<h1>Cartas disponibles del recluta buscado</h1>


@if (Model.CartList.Count != 0)
{
    <table class="table table-dark table-hover">
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.CartList)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item)
                </td>
                <td>
                    @Html.ActionLink("Encode", "Encode", new { Recruit = item })
                </td>
                <td>
                    @Html.ActionLink("Decode", "Decode", new { Recruit = item })
                </td>
            </tr>
            }
        </tbody>
    </table>
}
else
{
    <div style="text-align:center">
        <label>No hay algún registro de cartas de recomendación con este dpi</label>
        <br>
    </div>
}
<div>
    <a asp-action="Index">Regresar a la lista de reclutas</a>
</div>